body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*custom style*/
.header-cont {
    width: 100%;
    height: 80px;
    background-color: #222222;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 5px;
    z-index: 1;
    /* -webkit-transition: left 500ms;
    transition: left 500ms;*/
}

.menu-cont {
    width: 40px;
    float: left;
    font-size: 15px;
}

.menu-text {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 80px;
}

.heading-cont {
    width: 65%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 26px 0;
}

.profile-cont {
    float: right;
    margin-top: -50px;
    width: 150px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

.profile-user {
    float: left;
}

.profile-logout {
    float: right;
}

.side-navbar {
    left: -14%;
    width: 14%;
    height: 100%;
    padding-top: 5px;
    background-color: #222222;
    top: 0;
    position: fixed;
    text-align: center;
    -webkit-transition: left 500ms;
    transition: left 500ms;
    z-index: 2;
}

.menu-item {
    margin: 20px 10px;
    background-color: #222222;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 10px;
}

    .menu-item a {
        color: #999999 !important;
    }

    .menu-item:hover a {
        color: #FFFFFF !important;
        text-decoration: none;
    }

.login .side-navbar, .login .header-cont {
    display: none;
}

.body-cont {
    margin-top: 60px;
    margin-left: 0;
    -webkit-transition: margin-left 500ms;
    transition: margin-left 500ms;
}

.body-content {
    overflow-x: hidden;
}

.show-menu .side-navbar {
    left: 0;
    -webkit-transition: left 300ms;
    transition: left 300ms;
}

/*.show-menu .header-cont{
    left: 14%;
    -webkit-transition: left 500ms;
    transition: left 500ms;
}*/

.show-menu .body-cont {
    margin-left: 14%;
    -webkit-transition: margin-left 300ms;
    transition: margin-left 300ms;
}

.table-cont th, .table-cont td {
    max-width: 80px !important;
    padding: 3px !important;
    text-align: center;
}

.add-btn, .update-btn {
    height: 30px;
    border: 1px solid #285e8e;
    border-radius: 5px;
    background-color: #3276b1;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.add-btn {
    float: right;
    width: 55px;
    margin-right: 10px;
}

.update-btn {
    width: 70px;
}

    .add-btn a, .update-btn a {
        color: #FFF;
        text-decoration: none;
    }

.add-btn:hover {
    background-color: #285e8e;
}

.submit-btn-cont {
    margin: 30px 0;
}

.submit-btn {
    width: 250px;
}

user .Report {
    display: none;
}



.user .Config {
    display: none;
}
